body { margin: 10; padding: 0; background: #fff; color: #000; font: 15px Helvetica; }
p { margin-left: 10px; }
a { color: #006; }
ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 20px; }
li { margin: 5px; padding: 5px; width: 150px; border: 1px solid black; }

#commandList, #selectedList { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
#commandList li, #selectedList li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }