#commandList, #selectedList, #savedDrawingsList {
	list-style-type: none;
	margin: 0;
	background: #FDFDFD;
	padding: 15px; 
	float: left;
	margin-right: 10px;
	width: 180px
}
#commandList li, #selectedList li, #savedDrawingsList li {
	padding: 13px;
	font-size: 1.2em;
	width: 150px;
}
